<!DOCTYPE html>

<html lang="en">
<head>
    <title>Connect Four over WebRTC</title>
    <meta name="viewport" content="width=640px, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Gloria+Hallelujah|Alef">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <link rel="stylesheet" href="/assets/css/screen.css">
  </head>

  <body>
    <section id="menu">
      <div class="animated bounceIn">
        <div>
          <h1>Connect Four</h1><br />
          <div style="display: none;" class="no-support">
            <div class="alert alert-warning">
              <p>Unfortunately, your web browser does not <a href="http://iswebrtcreadyyet.com">support WebRTC</a></p>
            </div>
          </div>
          <div><a href="#start" class="btn btn-primary btn-lg">Start</a>&nbsp;<a href="#join" class="btn btn-default btn-lg">Join</a></div>
        </div>
      </div>
    </section>
    <section id="game" style="display: none;">
  <div class="pure-g">
      <!-- Video area -->
      <div class="pure-u-2-3" id="video-container">
        <video id="their-video" autoplay></video>
        <video id="my-video" muted="true" autoplay></video>
      </div>

      <!-- Steps -->
      <div class="pure-u-1-3">
        <h2>PeerJS Video Chat</h2>

        <!-- Get local audio/video stream -->
        <div id="step1">
          <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
          <div id="step1-error">
            <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
            <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
          </div>
        </div>

        <!-- Make calls to others -->
        <div id="step2">
          <p>Your id: <span id="my-id">...</span></p>
          <p>Share this id with others so they can call you.</p>
          <h3>Make a call</h3>
          <div class="pure-form">
            <input type="text" placeholder="Call user id..." id="callto-id">
            <a href="#" class="pure-button pure-button-success" id="make-call">Call</a>
          </div>
        </div>

        <!-- Call in progress -->
        <div id="step3">
          <p>Currently in call with <span id="their-id">...</span></p>
          <p><a href="#" class="pure-button pure-button-error" id="end-call">End call</a></p>
        </div>
      </div>
</div>
      <div>

        <div>

          <h1>Connect Four</h1><br>

          <table class="table grid">

            <tbody>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

              <tr>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

                <td>

                  <div class="slot"></div>

                </td>

              </tr>

            </tbody>

          </table><br>

          <div class="alert alert-info">

            <p></p>

          </div>

        </div>

      </div>

    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>

    <script>(src="//www.WebRTC-Experiment.com/RecordRTC.js")</script>

    <script src="/assets/js/arteegee.js"></script>

  </body>

</html>

